header {
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: #11457e;
  color: white;
  margin-bottom: 8vh;
}

.row {
  margin-top: 8vh;
  margin-bottom: 4vh;
}

h3 {
  margin-bottom: 3vh;
}

nav {
  position: sticky !important;
  top: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  min-width: 350px;
}

iframe {
  min-width: 350px;
}

@media screen and (min-width: 800px) {
  iframe {
    width: 60% !important;
  }

  img {
    width: 60% !important;
  }
}
